@import '../styles/variables';

.SectionTitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;

  h1 {
    font-weight: 600;
  }

  hr {
    display: block;
    border: none;
    width: 50px;
    height: 5px;
    background-color: $grey;
    background-image: none;
  }
}
